<div class="content">
  <div class="form">
    <h1>Reciclaje</h1>

    <div class="form-field">
      <label for="direccion-input">Direccion:</label>
      <input
        id="direccion-input"
        type="text"
        placeholder="Ingrese direccion del operador"
        autocomplete="off"
      />
    </div>

    <div class="form-field">
      <label for="nombre-input">Material:</label>
      <select name="material-input" id="material-input">
        <option value="" disabled selected>Escoja una opcion</option>
        <option value="1">Cobre</option>
        <option value="2">Aluminio</option>
        <option value="3">Baterias</option>
        <option value="4">PET / Cristal</option>
        <option value="5">Tapas PP</option>
        <option value="6">Papel</option>
        <option value="7">Carton</option>
        <option value="8">Chatarra</option>
        <option value="9">Vidrio</option>
      </select>
    </div>

    <div class="form-field">
      <label for="facultad-input">Cantidad:</label>
      <input
        id="cantidad-input"
        type="number"
        placeholder="Ingrese la cantidad reciclada en kilogramos"
        autocomplete="off"
      />
    </div>
    <button class="registro-btn">Registrar</button>
  </div>
</div>
