<div class="content">
  <div class="form">
    <h1>Canjear Puntos</h1>

    <div class="form-field">
      <label for="direccion-input">Direccion:</label>
      <input
        id="direccion-input"
        type="text"
        placeholder="Ingrese direccion del usuario"
        autocomplete="off"
        [(ngModel)]="direccion"
      />      

      <div class="form-field">
        <label for="facultad-input">Puntos:</label>
        <input
          id="puntos-input"
          type="number"
          placeholder="Puntos a canjear"
          autocomplete="off"
          [(ngModel)]="puntos"
        />
      </div>
    </div>

    <button class="registro-btn" (click)="canjear()">Canjear</button>
    <button class="registro-btn" (click)="leerNFC()">Leer NFC</button>
  </div>
</div>
